.color-white {
    color: white;
}

.color-nav {
    background-color: #7CC5E0;
}
.sidedbar{

}

.fondoSidebar {
    background-color: #E0E0E0;
}

.nav-pills li a:hover {
    background-color: rgb(41, 175, 41);
}

.nav-item .form-select {
    margin-top: 10px;
}
.element {
    overflow: hidden;
  }

::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de fondo de la pista */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del pulgar */
    border-radius: 4px; /* Radio de borde del pulgar */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del pulgar al pasar el cursor por encima */
  }


.cocina-pedidos{

}



@media (max-width: 768px) {    
    
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    
   
  }
  @media (min-width: 992px) {
    
   
  }