<nav class="navbar navbar-expand-lg  color-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/mesero">
            <img src="assets/img/logo7mares.jpg" alt="" width="50" height="50" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand color-white" href="/mares">Cocinero</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex" role="search">
                <div class="d-flex">
                    <a class="navbar-brand color-white mt-1" href="/mesero">Lucia Tiravanti</a>
                    <a class="navbar-brand" href="/mesero">
                        <img src="assets/img/avatar.png" alt="" width="40" height="40"
                            class="d-inline-block align-text-top">
                    </a>
                </div>

            </form>
        </div>
    </div>
</nav>

<div class="container-fluid body-cocina">
    <div class="row">
        <div class="col-md-2 p-3 bg-light m-1 p-1" style="height: 100vh;">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
                style="width: 100%;">
                <svg class="bi pe-none me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">PEDIDO</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">

                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16">
                        </svg>
                        Comidas Calientes
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                        <svg class="bi pe-none me-2" width="16" height="16">
                        </svg>
                        Comidas Frias
                    </a>
                </li>
            </ul>
            <hr>
        </div>
        <div class="col-md-10 row cocina-pedidos">
            <div class="caja-1"></div>
            <div class="caja-1"></div>
            <div class="caja-1"></div>
            <div class="caja-1"></div>  
            <div class="caja-1"></div>
            <div class="caja-1"></div>
            <div class="caja-1"></div>
            <div class="caja-1"></div> 
            <div class="caja-1"></div>  
        </div>
    </div>    
</div>
