<main>
	<div class=" container-fluid" style="overflow: none !important;">
		<div class="row">
			<div class="col-md-12 contenedor9 bg-light " style="height: 88.7vh; border-radius: 4px;">
				<div class="row">
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;">
						<div class=" card m-1 caja-1">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">Especialidad de la casa</h5>
							</div>
						</div>
					</div>


					<div class="col-lg-2 col-md-4 col-sm-6 mt-2 d-flex justify-content-center text-center align-items-center "
						style="background-color: white !important; border-radius: 10px;  margin-left: 0.5%;">
						<div class="d-flex justify-content-center cajae">
							<a data-bs-toggle="modal" data-bs-target="#exampleModal" href="/mesero"><img
									src="assets/img/agregar_categoria.png" width="120" height="110" alt=""></a>
						</div>
					</div>
				</div>


				<!-- Modal -->
				<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5 txt-c" id="exampleModalLabel">Agregar Categoria</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<label for="exampleFormControlInput1" class="form-label">Nombre:</label>
								<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
							</div>
							<div class="modal-footer boton-new">
								<button type="button" class="btn btn-danger bt-n btn-2"
									data-bs-dismiss="modal">Salir</button>
								<button type="button" class="btn btn-success bt-n btn-1">Guardar</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade mt-5" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5 txt-c" id="exampleModalLabel">Editar Categoria</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<label for="exampleFormControlInput1" class="form-label">Nombre:</label>
								<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
							</div>
							<div class="modal-footer boton-new">
								<button type="button" class="btn btn-danger bt-n btn-2"
									data-bs-dismiss="modal">Salir</button>
								<button type="button" class="btn btn-success bt-n btn-1">Guardar</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade mt-5" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5 txt-e" id="exampleModalLabel">¿Está seguro de eliminar
									esta categoria?</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-footer boton-new">
								<button type="button" class="btn btn-success bt-n btn-1"
									data-bs-dismiss="modal">Confirmar</button>
								<button type="button" class="btn btn-danger bt-n btn-2">Cancelar</button>
							</div>
						</div>
					</div>
				</div>


			</div>



		</div>
	</div>
</main>