<div class="p-5" style="background-color: white !important;">
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nombre de cliente</th>
            <th scope="col">Pedido</th>
            <th scope="col">Total</th>
            <th scope="col">Estado del Pedido</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <th scope="row">1</th>
            <td>Manuel Merino, mesa 1</td>
            <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalles</button></td>
            <td>S/.40.00</td>
            <td><button type="button" class="btn btn-success disabled">Cancelado</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Manuel Merino, mesa 1</td>
            <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalles</button></td>
            <td>S/.40.00</td>
            <td><button type="button" class="btn btn-danger disabled">No Cancelado</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Manuel Merino, mesa 1</td>
            <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalles</button></td>
            <td>S/.40.00</td>
            <td><button type="button" class="btn btn-success disabled">Cancelado</button></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Manuel Merino, mesa 1</td>
            <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalles</button></td>
            <td>S/.40.00</td>
            <td><button type="button" class="btn btn-success disabled">Cancelado</button></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Manuel Merino, mesa 1</td>
            <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalles</button></td>
            <td>S/.40.00</td>
            <td><button type="button" class="btn btn-success disabled">Cancelado</button></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Manuel Merino, mesa 1</td>
            <td><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalles</button></td>
            <td>S/.40.00</td>
            <td><button type="button" class="btn btn-danger disabled">No Cancelado</button></td>
          </tr>
        </tbody>
      </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Manuel Merino, mesa 1</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <tr>
                <th scope="row">1.</th>
                <td>Saltado de Pollo</td>
                <td>S/.20.00</td>
              </tr>
        </div>
        <div class="modal-footer">
            <div class="d-flex">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Total:</h1>
                <h1 class="modal-title fs-5" id="exampleModalLabel">S/40.00</h1>
            </div>
       

        </div>
      </div>
    </div>
  </div>