<app-header></app-header>
<div class=" color-fondo-platos">
	<div class="row color-fondo-platos col-12">
		<div class="col-7 col-md-8 mt-3">

			<div class="col-12 d-flex">
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
			</div>

			<div class="col-12 d-flex">

				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
			</div>

			<div class="col-12  d-flex">

				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
			</div>


			<div class="col-12 d-flex">

				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
			</div>

			<div class="col-12 d-flex">

				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
			</div>

			<div class="col-12 d-flex">

				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
			</div>


			<div class="col-12 d-flex">

				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
			</div>

			<div class="col-12 d-flex">

				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
				<div class="card m-1">
					<div class="card-body">
						<h5 class="card-title">Especialidad de la Carta</h5>
					</div>
				</div>
			</div>



		</div>
		<div class="col-4 col-sm-5 col-md-4 mt-4 bg-light">
			<div class="d-flex mt-2">
				<a class="navbar-brand" href="/mesero">
					<img src="assets/img/usuario.png" alt="" width="50" height="40" class="d-inline-block align-text-top">
				</a>
			</div>
			<hr>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			<hr>
			<div class="container">
				<h4>Total: </h4>
				<div class=" d-grid gap-2 col-6 mx-auto mt-5">
					<button type="button" class="btn btn-success">Enviar</button>
				</div>


			</div>


		</div>
	</div>
</div>