<section class="body">
	<div class="login-box">
		<img class="avatar" src="assets/img/logo7mares.jpg" alt="Logo de 7 Mares">
		<h1>PIN CODE</h1>
		<form action="">
			<!-- USER -->
			<label class="d-flex text-center justify-content-center" for="username">Ingresa el PIN que se te envió al correo</label>

			<div class="d-flex mt-3">
				<input type="text" class="form-control campo-pin" id="formGroupExampleInput">
				<input type="text" class="form-control campo-pin" id="formGroupExampleInput">
				<input type="text" class="form-control campo-pin" id="formGroupExampleInput">
				<input type="text" class="form-control campo-pin" id="formGroupExampleInput">
				<input type="text" class="form-control campo-pin" id="formGroupExampleInput">
			</div>
			<!-- <input class="mt-2 campo-i" type="submit" value="Ingresar"> -->
			<div class="d-flex justify-content-center mt-5">
				<a class="btn btn-primary boton-ingresar" type="button" (click)="irActualizarContra()">Validar</a>
			</div>

		</form>
	</div>

</section>