<section class="body">
	<div class="login-box">
		<img class="avatar" src="assets/img/logo7mares.jpg" alt="Logo de 7 Mares">
		<h1>Actualiza tu contraseña</h1>
		<form action="">
			<!-- USER -->
			<label class="d-flex text-center justify-content-center" for="username">¡Es hora de renovarse! Crea una nueva clave secreta!</label>

			<label for="username" class="mt-5">Nueva Contraseña:</label>
			<input type="password" class="form-control campo-t" id="formGroupExampleInput" placeholder="Ingresar Contraseña">

            <label for="username" class="mt-5">Confirmar Contraseña:</label>
			<input type="password" class="form-control campo-t" id="formGroupExampleInput" placeholder="Ingresar Contraseña">
			<!-- <input class="mt-2 campo-i" type="submit" value="Ingresar"> -->
			<div class="d-flex justify-content-center mt-5">
				<button class="btn btn-primary boton-ingresar" type="button">Confirmar</button>
			</div>

		</form>
	</div>
</section>