<nav class="navbar navbar-expand-md color-nav">
	<div class="container-fluid position-relative">
	  <div>
		<a class="navbar-brand d-flex gap-3" href="/mesero">
		  <img src="assets/img/logo7mares.jpg" alt="" width="40" height="40" class="d-inline-block align-text-top">
		  <a class="navbar-brand color-white d-md-inline" href="/mares">Mesero</a>
		</a>
	  </div>
	  <form class="d-flex navbar-brand color-white d-none d-md-inline">
		<div class="d-flex">
		  <a class="navbar-brand color-white mt-1 " href="/mesero">Lucia Tiravanti</a>
		  <a class="navbar-brand" href="/mesero">
			<img src="assets/img/avatar.png" alt="" width="40" height="40"
			  class="d-inline-block align-text-top">
		  </a>
		</div>
	  </form>
	  <button class="navbar-toggler bg-info" type="button" data-bs-toggle="collapse"
		data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse d-md-none bg-light Bordess shadow position-absolute top-100 start-0 w-100"
		id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 p-3 mb-md-0 d-md-none">
		  <li class="nav-item">
			<a class="nav-link active colorbase" aria-current="page" href="#"><strong>Inicio</strong></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active colorbase" aria-current="page" href="#"><strong>Acerca de nosotros</strong></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active colorbase" aria-current="page" href="#"><strong>Platos a la carta</strong></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active colorbase" aria-current="page" href="#"><strong>Ubícanos</strong></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active colorbase" aria-current="page" href="#"><strong>Sobre nosotros</strong></a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>