<main>
	<div class=" container-fluid" style="overflow: none !important;">
		<div class="row">
			<div class="col-md-9 contenedor9" style="background-color: #E0E0E0; height: 88.7vh;">
				<div class="row">
					<div class="mt-2 col-lg-2 col-md-4 col-sm-6  " style="height: 24%;"
						*ngFor="let categoria of categorias">
						<!-- *ngFor="let categoria of categorias" -->
						<div class=" card m-1 caja-1" type="button" (click)="cambiarPlatillos(categoria.idCategoria)">
							<div class="col-md-12 d-flex justify-content-center align-items-center">
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2">
									<div class="iconos3">
										<i class="fa-solid fa-pen cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal2"></i>
									</div>
								</div>
								<div class="col-md-6 "></div>
								<div class="col-md-3 d-flex justify-content-center align-items-center mt-2"
									style="margin-left: 2%;">
									<div class="iconos3">
										<i class="fa-solid fa-trash cursor" data-bs-toggle="modal"
											data-bs-target="#exampleModal3"></i>
									</div>
								</div>
							</div>
							<div style="height: 100%;"
								class="card-body d-flex justify-content-center text-center align-items-center">
								<h5 class="card-title txt-1">
									<!-- iosep carepoto -->
									{{ categoria.nombreCategoria }}
								</h5>
							</div>
						</div>
					</div>











					<div class="col-lg-2 col-md-4 col-sm-6 mt-2 d-flex justify-content-center text-center align-items-center "
						style="background-color: white !important; border-radius: 10px;  margin-left: 0.5%;">
						<div class="d-flex justify-content-center cajae">
							<a data-bs-toggle="modal" data-bs-target="#exampleModal" href="/mesero"><img
									src="assets/img/agregar_categoria.png" width="120" height="110" alt=""></a>
						</div>
					</div>
				</div>


				<!-- Modal -->
				<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5 txt-c" id="exampleModalLabel">Agregar Categoria</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<label for="exampleFormControlInput1" class="form-label">Nombre:</label>
								<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
							</div>
							<div class="modal-footer boton-new">
								<button type="button" class="btn btn-danger bt-n btn-2"
									data-bs-dismiss="modal">Salir</button>
								<button type="button" class="btn btn-success bt-n btn-1">Guardar</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade mt-5" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5 txt-c" id="exampleModalLabel">Editar Categoria</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<label for="exampleFormControlInput1" class="form-label">Nombre:</label>
								<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
							</div>
							<div class="modal-footer boton-new">
								<button type="button" class="btn btn-danger bt-n btn-2"
									data-bs-dismiss="modal">Salir</button>
								<button type="button" class="btn btn-success bt-n btn-1">Guardar</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal fade mt-5" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5 txt-e" id="exampleModalLabel">¿Está seguro de eliminar
									esta categoria?</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-footer boton-new">
								<button type="button" class="btn btn-success bt-n btn-1"
									data-bs-dismiss="modal">Confirmar</button>
								<button type="button" class="btn btn-danger bt-n btn-2">Cancelar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class=" col-md-3 bg-light">
				<div class="mt-3 row d-flex justify-content-center align-items-center">
					<div class="col-1">
						<img src="assets/img/perfil_categoria.png" alt="" width="40" height="40">
					</div>
					<div class="col-8">
						<input type="text" class="form-control"
							style="border-radius: 0px !important; border-color: transparent !important; background-color: transparent !important">
					</div>
					<div class=" col-2 d-flex justify-content-center align-items-center" style="margin-left: 2%;">
						<div class="iconos3">
							<i class="fa-solid fa-pen"></i>
						</div>
						<div class="iconos3" style="margin-left: 20%;">
							<i class="fa-solid fa-trash"></i>
						</div>
					</div>
				</div>

				<hr>

				<div class="container-fluid col-md-12 contenedor" style="height:65%;">
					<div class="col-md-12 d-flex justify-content-center align-items-center">
						<div class="col-md-1">
							<i class="fa-solid fa-circle" style="font-size: 60%;"></i>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control"
								style="height: 20%; border-radius: 0px !important; border-color: transparent !important; background-color: transparent !important">
							<input type="text" class="form-control"
								style=" height: 20%; border-radius: 0px !important; border-color: transparent !important; background-color: transparent !important">
						</div>
						<div class="col-md-1">
							<button id='disminuir' onclick="disminuir()">-</button>
						</div>
						<div class="col-md-2">
							<input type='text' id="cantidad" value="0"
								style=" width: 95%; border-radius: 0px !important; background-color: transparent !important">

						</div>
						<div class="col-md-1">
							<button id='aumentar' onclick="aumentar()">+</button>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-trash" style="margin-left: 40%; font-size: 110%;"></i>
						</div>
					</div>
					<hr>
					<div class="col-md-12 d-flex justify-content-center align-items-center">
						<div class="col-md-1">
							<i class="fa-solid fa-circle" style="font-size: 60%;"></i>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control"
								style="height: 20%; border-radius: 0px !important; border-color: transparent !important; background-color: transparent !important">
							<input type="text" class="form-control"
								style=" height: 20%; border-radius: 0px !important; border-color: transparent !important; background-color: transparent !important">
						</div>
						<div class="col-md-1">
							<button id='disminuir' onclick="disminuir()">-</button>
						</div>
						<div class="col-md-2">
							<input type='text' id="cantidad" value="0"
								style=" width: 95%; border-radius: 0px !important; background-color: transparent !important">

						</div>
						<div class="col-md-1">
							<button id='aumentar' onclick="aumentar()">+</button>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-trash" style="margin-left: 40%; font-size: 110%;"></i>
						</div>
					</div>
					<hr>
					<div class="col-md-12 d-flex justify-content-center align-items-center">
						<div class="col-md-1">
							<i class="fa-solid fa-circle" style="font-size: 60%;"></i>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control"
								style="height: 20%; border-radius: 0px !important; border-color: transparent !important; background-color: transparent !important">
							<input type="text" class="form-control"
								style=" height: 20%; border-radius: 0px !important; border-color: transparent !important; background-color: transparent !important">
						</div>
						<div class="col-md-1">
							<button id='disminuir' onclick="disminuir()">-</button>
						</div>
						<div class="col-md-2">
							<input type='text' id="cantidad" value="0"
								style=" width: 95%; border-radius: 0px !important; background-color: transparent !important">

						</div>
						<div class="col-md-1">
							<button id='aumentar' onclick="aumentar()">+</button>
						</div>
						<div class="col-md-1">
							<i class="fa-solid fa-trash" style="margin-left: 40%; font-size: 110%;"></i>
						</div>
					</div>
					<hr>

				</div>

				<hr>

				<div class="col-md-12 container-fluid bg-light ">
					<div class="col-md-12 d-flex">
						<div class="col-md-2 d-flex justify-content-center align-items-center">
							<h5>Total:</h5>
						</div>
						<div class="container-fluid col-md-10" style="margin-top: -2%;">
							<input type="text" class="form-control"
								style="border-radius: 0px !important; border-color: transparent !important; background-color: transparent !important">
						</div>
					</div>
					<div class="d-flex justify-content-center align-items-center mt-3">
						<div class="col-md-8">
							<button type="button" class="btn btn-success bt-r ">Enviar</button>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</main>