.color-white {
    color: white;
}

.color-nav {
    background-color: #7CC5E0;
}

.fondoSidebar {
    background-color: #E0E0E0;
}

.nav-pills li a:hover {
    background-color: rgb(41, 175, 41);
}

.nav-item .form-select {
    margin-top: 10px;
}