<div class="container-fluid	id p-4 fondoSidebar">
	<div class="row">
		<div class="col-lg-2 col-md-3 col-auto bg-white border rounded d-none d-md-block min-vh-100">
			<div class="mt-4">
				<a class=" col-12 text-dark d-none d-sm-inline text-decoration-none d-flex ms-3" role="button">
					<span class="fs-5">
						<strong>REPORTES</strong>
					</span>
				</a>
				<hr class="text-dark d-none d-sm-block">
				<ul class="nav nav-pills flex-column mt-2 mt-sm-0 " id="menu1">
					<li class="nav-item my-sm-1 my-2 ">
						<a href="" class="nav-link text-dark text-center text-sm-start" aria-current="page">
							<i class="fa-solid fa-cash-register"></i>
							<span class="ms-2 d-none d-sm-inline">Pagos</span>
						</a>
					</li>
					<li class="nav-item my-sm-1 my-2 disabled">
						<a href="#sidemenu1" data-bs-toggle="collapse"
							class="nav-link text-dark text-center text-sm-start" aria-current="page">
							<i class="fa-solid fa-chart-line"></i>
							<span class="ms-2 d-none d-sm-inline">Diario </span>
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="nav collapse ms-1 flex-column" id="sidemenu1" data-bs-parent="#menu1">
							<li class="nav-item">
								<a href="" class="nav-link text-dark" href="" aria-current="page">
									<i class="fa-solid fa-chart-pie"></i> Diagrama Pastel
								</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link text-dark" href="">
									<i class="fa-solid fa-chart-simple"></i> Diagrama Barras
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item my-sm-1 my-2 disabled">
						<a href="#sidemenu2" data-bs-toggle="collapse"
							class="nav-link text-dark text-center text-sm-start" aria-current="page">
							<i class="fa-solid fa-chart-line"></i>
							<span class="ms-2 d-none d-sm-inline">Semananal </span>
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="nav collapse ms-1 flex-column" id="sidemenu2" data-bs-parent="#menu2">
							<li class="nav-item">
								<a href="" class="nav-link text-dark" href="" aria-current="page">
									<i class="fa-solid fa-chart-pie"></i> Diagrama Pastel
								</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link text-dark" href="">
									<i class="fa-solid fa-chart-simple"></i> Diagrama Barras
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item my-sm-1 my-2 disabled">
						<a href="#sidemenu3" data-bs-toggle="collapse"
							class="nav-link text-dark text-center text-sm-start" aria-current="page">
							<i class="fa-solid fa-chart-line"></i>
							<span class="ms-2 d-none d-sm-inline">Mensual </span>
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="nav collapse ms-1 flex-column" id="sidemenu3" data-bs-parent="#menu3">
							<li class="nav-item">
								<a href="" class="nav-link text-dark" href="" aria-current="page">
									<i class="fa-solid fa-chart-pie"></i> Diagrama Pastel
								</a>
							</li>
							<li class="nav-item">
								<a href="" class="nav-link text-dark" href="">
									<i class="fa-solid fa-chart-simple"></i> Diagrama Barras
								</a>
							</li>
						</ul>
					</li>

					<!-- Cocinero -->

					<li class="nav-item my-sm-1 my-2 disabled">
						<a href="#sidemenuCocinero1" data-bs-toggle="collapse"
							class="nav-link text-dark text-center text-sm-start" aria-current="page">
							<i class="fa-brands fa-hotjar"></i>
							<span class="ms-2 d-none d-sm-inline">Comidas Calientes </span>
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="nav collapse ms-1 flex-column" id="sidemenuCocinero1"
							data-bs-parent="#menuCocinero1">
							<li class="nav-item">
								<a routerLink="recibidos-caliente" class="nav-link text-dark"  aria-current="page">
									<i class="fa-solid fa-file-import"></i> Recibidos
								</a>
							</li>
							<li class="nav-item">
								<a routerLink="listos-caliente" class="nav-link text-dark">
									<i class="fa-solid fa-file-circle-check"></i> Listos
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item my-sm-1 my-2 disabled">
						<a href="#sidemenuCocinero2" data-bs-toggle="collapse"
							class="nav-link text-dark text-center text-sm-start" aria-current="page">
							<i class="fa-regular fa-snowflake"></i>
							<span class="ms-2 d-none d-sm-inline">Comidas Frias </span>
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="nav collapse ms-1 flex-column" id="sidemenuCocinero2"
							data-bs-parent="#menuCocinero2">
							<li class="nav-item">
								<a routerLink="recibidos-frio" class="nav-link text-dark" aria-current="page">
									<i class="fa-solid fa-file-import"></i> Recibidos
								</a>
							</li>
							<li class="nav-item">
								<a routerLink="listos-frio" class="nav-link text-dark" >
									<i class="fa-solid fa-file-circle-check"></i> Listos
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- <div>
				<div class="dropdown open p-3">
					<a class="btn border-none outline-none text-dark dropdown-toggle" type="button" id="triggerId"
						data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-user"></i>
						<span class="ms-1 d-none d-sm-inline">Youserl</span>
					</a>
					<div class="dropdown-menu" aria-labelledby="triggerId">
						<button class="dropdown-item" href="#">Profile</button>
						<button class="dropdown-item" href="#">Settings</button>
					</div>
				</div>
			</div> -->
		</div>

		<div class="col-md-9 col-lg-10">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>