<section class="body">
	<div class="login-box">
		<img class="avatar" src="assets/img/logo7mares.jpg" alt="Logo de 7 Mares">
		<h1>Crea tu cuenta</h1>
		<form action="">

			<div class="row">
				<div class="col">
					<label for="username">Nro Documento:</label>
					<input type="text" class="form-control" placeholder="Ingresar nro documento" aria-label="First name">
				</div>
				<div class="col">
					<label for="username">Nombres:</label>
					<input type="text" class="form-control" placeholder="Ingresar nombres" aria-label="Last name">
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label for="username">Apellido Materno:</label>
					<input type="text" class="form-control" placeholder="Ingresar apellido m." aria-label="First name">
				</div>
				<div class="col">
					<label for="username">Apellido Paterno:</label>
					<input type="text" class="form-control" placeholder="Ingresar apellido p." aria-label="Last name">
				</div>
			</div>

			<!-- USER --> 
			<label for="username">Correo:</label>
			<input type="text" class="form-control campo-t" id="formGroupExampleInput" placeholder="Ingresar Usuario">


			<div class="row">
				<div class="col">
					<label for="username">Nro celular:</label>
					<input type="text" class="form-control" placeholder="Ingresar apellido m." aria-label="First name">
				</div>
				<div class="col">
					<label for="username">Estado:</label>
					<input type="text" class="form-control" placeholder="Ingresar apellido p." aria-label="Last name">
				</div>
			</div>

			<div class="row">
				<div class="col">
					<label for="username">Contraseña:</label>
					<input type="text" class="form-control" placeholder="Ingresar apellido m." aria-label="First name">
				</div>
				<div class="col">
					<label for="username">Usuario:</label>
					<input type="text" class="form-control" placeholder="Ingresar apellido p." aria-label="Last name">
				</div>
			</div>


			<!-- <input class="mt-2 campo-i" type="submit" value="Ingresar"> -->
			<div class="d-flex justify-content-center">
				<button class="btn btn-primary boton-ingresar" type="button">Registrar</button>
			</div>

		</form>
	</div>

</section>