<header>
  <nav class="navbar navbar navbar-dark fixed-top" style="background-color: transparent !important;">
    <div>
      <a class="navbar-brand" href="#"></a>
      <button class=" navbar-toggler bg-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="m-1 navbar-toggler-icon"></span>
      </button>
      <button class=" bg-light btn btn-outline m-3 shadow" style="border-radius: 20px; border-color: transparent;"
        type="submit">
        <img height="30" width="30" src="assets/img/icono wsp.png" alt=""><strong>+51 966 982 517</strong></button>

      <div class="collapse navbar-collapse p-3 m-3 bg-light Bordess shadow" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active colorbase" aria-current="page" href="#"> <Strong>Inicio</Strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active colorbase" aria-current="page" href="#"> <Strong>Acerca de nosotros</Strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active colorbase" aria-current="page" href="#"> <Strong>Platos a la carta</Strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active colorbase" aria-current="page" href="#"> <Strong>Ubícanos</Strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active colorbase" aria-current="page" href="#"> <Strong>Sobre nosotros</Strong></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/carrusel 1.png" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/img/fotoprueba.jpg" alt="" class="d-block w-100">
      </div>
      <div class="carousel-item">
        <img src="assets/img/carrusel 3 image.png" alt="" class="d-block w-100">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-info" style="border-radius: 50px !important;"
        aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-info" style="border-radius: 50px !important;"
        aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="marketing container-fluid" style="margin-top: -40px;">


    <div class="d-flex justify-content-center">
      <img height="100" width="450" class="img-fluid" src="assets/img/nosequees2.png" alt="">
    </div>

    <div class=" mt-3 row d-flex justify-content-center">

      <div class="col-md-9 container" style="text-align: center;">
        <h3 class="fw-normal">En tu casa o la nuestra, no importa dónde estés, vamos a engreírte y celebrar juntos con
          la generosidad de siempre. Haz tus pedido en
          nuestro WhatsApp.
        </h3>
      </div><!-- /.col-lg-4 -->


    </div><!-- /.row -->
    <div class="d-flex justify-content-center mt-3">
      <img height="100" width="450" class="img-fluid" src="assets/img/nosequees2.png" alt="">
    </div>

    <div class="container-lg mt-2">
      <div class="row">
        <div class="col-md-6 m-3" style="margin-top: -30px;">
          <div class="row col-md-10 container d-flex justify-content-center ">
            <h4 class=" featurette-heading fw-bold">Acerca de Nosotros</h4>
            <h5 class="fw-normal">Somos un Restaurante Peruano de Cocina Fusión Marina 100%
              Adventista </h5>
          </div>


        </div>

        <div class=" d-flex justify-content-center mt-5 col-md-5">
          <img style="border-radius: 20px;" src="assets/img/carrusel 3 image.png" class="img-fluid" alt="...">
        </div>
      </div>
    </div>


    <!-- START THE FEATURETTES -->

    <div class="mt-5 ">
      <div class="d-flex justify-content-center">
        <div class="col-md-10">
          <h4 class="featurette-heading fw-bold"><i class="fa-solid fa-fish-fins fa-bounce"></i> Platos a la carta</h4>
        </div>
      </div>
      <div class=" mt-2 row featurette d-flex justify-content-center align-items-center" >

        <div class="col-md-1">
        </div>

        <div class="card text-white col-md-5 d-flex justify-content-center" style="border-color: transparent !important;">
          <img src="assets/img/platomarino2.png" class="img-fluid featurette d-flex justify-content-center">
          <div class="btn text-white card-img-overlay d-flex justify-content-center align-items-centery" style="background-color: #B4322D; opacity: 45%; width: 96%; margin-left: 2%; border-radius: 0px;">
            <h1 class="d-flex justify-content-center align-items-center" style="width: 100%; height: 100%;">
              <strong>Platos Marinos</strong>
            </h1>
          </div>
        </div>

        <div class="card text-white col-md-5 d-flex justify-content-center" style="border-color: transparent !important;">
          <img src="assets/img/platocriollo2.png" class="img-fluid featurette d-flex justify-content-center">
          <div class="btn text-white card-img-overlay d-flex justify-content-center align-items-center align-items-center" style="background-color: #000000; opacity: 45%; width: 96%; margin-left: 2%;">
            <h1 class="d-flex justify-content-center align-items-center" style="width: 100%;"><strong>Platos Criollos</strong></h1>
          </div>
        </div>

         <div class="col-md-1"></div>
      </div>

      <div class="mt-2 row featurette d-flex justify-content-center">
        <div class="card text-white col-md-10 d-flex justify-content-center" style="border-color: transparent !important;">
          <img src="assets/img/bebidas2.png" class="img-fluid featurette d-flex justify-content-center" style="width: 100%; height: 100%;" alt="...">
          <div class="card-img-overlay d-flex align-items-center align-items-center" style="background-color: #BC932A; opacity: 45%; width: 98%; margin-left: 1%;">
            <h1 class="d-flex justify-content-center align-items-center" style="width: 100%;"><strong>Bebidas</strong></h1>
          </div>
        </div>
      </div>
    </div>

     <!-- START THE FEATURETTES -->

     <div class="mt-5 ">
      <div class="d-flex justify-content-center">
        <div class="col-md-10">
          <h4 class="featurette-heading fw-bold"><i class="fa-solid fa-fish-fins fa-bounce"></i> Poto a la carta</h4>
        </div>
      </div>
      <div class=" mt-2 row featurette d-flex justify-content-center align-items-center" >

        <div class="col-md-1">
        </div>
<div class="col-md-5">

        <div class="col-md-5 bg-info" style=" position: absolute; width: 200px; height: 200px;"></div>
        <div class="col-md-5 bg-dark" style="opacity: 40%; width: 200px; height: 200px; position: absolute;"></div>
        <h1 class="col-md-5" style="position: absolute;">hola buenas noches me iamo Anastacio</h1>
 
      </div>
<div class="col-md-1"></div>
        <div class="card text-white col-md-5 d-flex justify-content-center" style="border-color: transparent !important;">
          <img src="assets/img/platocriollo2.png" class="img-fluid featurette d-flex justify-content-center">
          <div class="btn text-white card-img-overlay d-flex justify-content-center align-items-center align-items-center" style="background-color: #000000; opacity: 45%; width: 96%; margin-left: 2%;">
            <h1 class="d-flex justify-content-center align-items-center" style="width: 100%;"><strong>Platos Criollos</strong></h1>
          </div>
        </div>

         <div class="col-md-1"></div>
      </div>

      <div class="mt-2 row featurette d-flex justify-content-center">
        <div class="card text-white col-md-10 d-flex justify-content-center" style="border-color: transparent !important;">
          <img src="assets/img/bebidas2.png" class="img-fluid featurette d-flex justify-content-center" style="width: 100%; height: 100%;" alt="...">
          <div class="card-img-overlay d-flex align-items-center align-items-center" style="background-color: #BC932A; opacity: 45%; width: 98%; margin-left: 1%;">
            <h1 class="d-flex justify-content-center align-items-center" style="width: 100%;"><strong>Bebidas</strong></h1>
          </div>
        </div>
      </div>
    </div>





    <div class="row featurette d-flex justify-content-center mt-4">
      <div class="d-flex justify-content-center">
        <div class="col-md-10">
          <h4 class="featurette-heading fw-bold"><i class="fa-solid fa-fish-fins fa-bounce"></i> Ubícanos</h4>
        </div>
      </div>
      <div class="col-11 mt-3 d-flex justify-content-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243.92652855732652!2d-76.83554170773924!3d-11.986606233950006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c327e67624f7%3A0x53920617254f5d30!2sCMTEC%20La%20Era!5e0!3m2!1ses-419!2spe!4v1686121054779!5m2!1ses-419!2spe" width="90%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <!-- /.container -->
    <div class="row mt-5 d-flex justify-content-center align-items-center" style="background-color: black;">
      <div class="container row d-flex justify-content-center" style="width: 80%; margin-left: 30px;">
        <div class="col-md-4 mt-5" style="color: white;">
          <div class="row">
            <div class="col-md-12">
              <h3>7 Mares</h3>
            </div>
            <div class="col-md-12">
              <h4>Horario de atención</h4>
            </div>
            <div class="col-md-6">
              <p>De domingo a viernes
                <br>9:00 - 13:00 
                <br>16:00 - 19:30
              </p>
            </div>
          </div>

        </div>
        <div class="col-md-3 mt-5 m-2" style="color: white;">
          <div class="row">
            <div class="col-md-12">
              <h4>Acerca de nosotros</h4>
            </div>
            <div class="col-md-12">
              <p>¿Quiénes somos?</p>
            </div>
            <div class="col-md-12">
              <p style="margin-top: -10px;">Platos a la carta</p>
            </div>
            <div class="col-md-12">
              <p style="margin-top: -10px;">Ubícanos</p>
            </div>
            <div class="col-md-12 mt-1">
              <h4>Síguenos</h4>
            </div>
            <div class="col-md-8 mt-1">
              <a style="color: dodgerblue" href="https://www.facebook.com/profile.php?id=100082833447421&mibextid=ZbWKwL"><i style="font-size: 155%;" class="fa-brands fa-facebook fa-beat-fade m-1"></i></a>
              <a style="color: deeppink" href="https://www.instagram.com/7maresc/"><i style="font-size: 160%;" class="fa-brands fa-instagram fa-beat-fade m-1"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5 m-2" style="color: white;">
          <div class="row">
            <div class="col-md-12">
              <h4>Restaurante 7 mares</h4>
            </div>
            <div class="col-md-12">
              <p>Avenida Bernardo Balaguer 
              <br>Mz B Lote 7</p>
            </div>
            <div class="col-md-12">
              <p>7mares@gmail.com</p>
            </div>
            <div class="col-md-12">
              <p>+ 51 966 892 517</p>
            </div>
        
            
          </div>
      </div>
      
      <!-- FOOTER -->



      
  </div>
  <hr style="color: white; margin-top: 25px;" />
<p class="d-flex justify-content-center" style="font-size: 12px; color: white; height: 9px;">Copyright Derechos reservados - 7 Mares 2023</p>
    </div>
  </div>
</main>


<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>