<div style="background-color: #E0E0E0;">
  <br>
  <br>
  <div class="d-flex justify-content-center align-items-center">
    <div class="row container-fluid d-flex justify-content-center"
      style=" background-color: white; border-radius: 15px;">
      <div class="col-md-11" style="background-color: #3FB785; margin-top: -22px;">
        <h5 style="color:white; height: 45px;" class="d-flex align-items-center">Listar pagos</h5>
      </div>
      <div class="col-md-11 table-responsive">
        <table class="table table-border table-hover table-responsive mt-3">
          <thead>
            <tr>
              <th scope="col" class="text-nowrap">Nº</th>
              <th scope="col" class="text-nowrap">Nombre del cliente</th>
              <th scope="col" class="text-nowrap">Pedido</th>
              <th scope="col" class="text-nowrap">Total</th>
              <th scope="col" class="text-nowrap">Est. del pedido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td class="text-nowrap">Manuel Merino, mesa 1</td>
              <td class="text-nowrap">Otto</td>
              <td class="text-nowrap">S/. 40.00</td>
              <td class="text-nowrap">@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td class="text-nowrap">Javier Sanchez, mesa 7</td>
              <td class="text-nowrap">Thornton</td>
              <td class="text-nowrap">S/. 20.00</td>
              <td class="text-nowrap">@mdo</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td class="text-nowrap">Daniela Huerta, mesa 10</td>
              <td class="text-nowrap">Otto</td>
              <td class="text-nowrap">S/. 15.50</td>
              <td class="text-nowrap">@mdo</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td class="text-nowrap">Gerson Bravo, mesa 4</td>
              <td class="text-nowrap">Otto</td>
              <td class="text-nowrap">S/. 20.00</td>
              <td class="text-nowrap">@mdo</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td class="text-nowrap">Makki Aliaga, mesa 8</td>
              <td class="text-nowrap">Otto</td>
              <td class="text-nowrap">S/. 60.30</td>
              <td class="text-nowrap">@mdo</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td class="text-nowrap">Angel Trejo, mesa 12</td>
              <td class="text-nowrap">Otto</td>
              <td class="text-nowrap">S/. 35.70</td>
              <td class="text-nowrap">@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>