<div style="background-color: #E0E0E0;">
  <br>
  <br>
  <div class="d-flex justify-content-center align-items-center">
    <div class="row container-fluid d-flex justify-content-center" style=" background-color: white; border-radius: 15px;">
      <div class="col-md-11" style="background-color: #3FB785; margin-top: -22px;">
        <h5 style="color:white; height: 45px;" class="d-flex align-items-center">Listar pagos</h5>
      </div>
      <div class="col-md-11" >
      <table class="table table-borderless table-hover mt-3"  >
        <thead>
          <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nombre del cliente</th>
            <th scope="col">Pedido</th>
            <th scope="col">Total</th>
            <th scope="col">Est. del pedido</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Manuel Merino, mesa 1</td>
            <td>Otto</td>
            <td>S/. 40.00</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Javier Sanchez, mesa 7</td>
            <td>Thornton</td>
            <td>S/. 20.00</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Daniela Huerta, mesa 10</td>
            <td>Otto</td>
            <td>S/. 15.50</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Gerson Bravo, mesa 4</td>
            <td>Otto</td>
            <td>S/. 20.00</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Makki Aliaga, mesa 8</td>
            <td>Otto</td>
            <td>S/. 60.30</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Angel Trejo, mesa 12</td>
            <td>Otto</td>
            <td>S/. 35.70</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>