.color-fondo-platos{
    background-color: #E0E0E0 !important;
    
}

.color-white{
    color: white;
}

.color-nav{
    background-color: #7CC5E0;
}

.caja-1{
    background-color: #3FB785 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    border-color: #AC9F9F !important;
    
}

.caja-2{
    background-color: transparent !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    border-color: #AC9F9F !important;
    
}

cajae{
    background-color: #3FB785 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;

    
}

.caja-n{
    background-color: transparent !important;
    width: 200px !important;
    height: 140px;
    border-radius: 15px;
}

.caja-new{
    background-color: white;
    width: 200px !important;
    height: 140px;
    border-radius: 15px;
}

.txt-1{
    font-size: 16px;
    color: aliceblue;
}

.txt-pla{
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.bt-r{
    border-radius: 70px;
    background-color: #3FB785 !important;
    width: 100% !important;
    border-color: transparent !important;

}

.txt-c{
    margin-left: 150px;
}

.boton-new{
    display: flex !important;
    justify-content: center;
}

.bt-n{
    width: 110px;
    border-radius: 20px;
    
}

.btn-1{
    background-color: #3FB785 !important;
}

.btn-2{
    background-color: #DD1C1C !important;
}


.iconos3{
    font-size: 20px;
}


.cursor{
    cursor: pointer;
}

.txt-e{
    margin-left: 50px;
}

.contenedor {
	width: 100%;
	height: 35rem;
	overflow: auto;
	font-family: 'Open Sans';
	border-radius: 4px;
}
.contenedor9{
    overflow: auto;
}

.contenedor9::-webkit-scrollbar {
	width: 7px;
    background-color:#E0E0E0;
}

.contenedor9::-webkit-scrollbar-thumb {
	background: #E0E0E0;
	border-radius: 5px;
}

.contenedor::-webkit-scrollbar {
	width: 7px;
    background-color: white;
}

.contenedor::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 5px;
}

.card{
    height: 100% !important;
}