<div class=" d-flex justify-content-center align-items-center row cocina-pedidos">
    <div class="ms-5 container scrollable-content">
        <div class="row cocina-pedidos justify-content-center">
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        <strong>Manuel Merino, mesa 1</strong>
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Pollo Saltado
                        </div>
                        <div class="col-md-12">
                            2 Papa Rellena
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Manuel Sanchez, mesa 4
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            3 Tequeño
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Makki Aliaga, mesa 2
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Milanesa de pollo
                        </div>
                        <div class="col-md-12">
                            1 Leche de trige
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Segundo Meza, mesa 12
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            3 Chicharron de pescado
                        </div>
                        <div class="col-md-12">
                            1 Chaufa de pescado
                        </div>
                        <div class="col-md-12">
                            1 Leche de tigre
                        </div>
                        <div class="col-md-12">
                            2 Jarra de chicha
                        </div>
                        <div class="col-md-12">
                            2 Lomo saltado
                        </div>
                        <div class="col-md-12">
                            1 Chaufa de pollo
                        </div>
                        <div class="col-md-12">
                            1 Ceviche
                        </div>
                        <div class="col-md-12">
                            2 Jarra de Limonada
                        </div>
                        <div class="col-md-12">
                            1 Yuca Frita
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Makki Aliaga, mesa 2
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Milanesa de pollo
                        </div>
                        <div class="col-md-12">
                            1 Leche de trige
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Manuel Merino, mesa 1
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Pollo Saltado
                        </div>
                        <div class="col-md-12">
                            2 Papa Rellena
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center align-items-center border-top border-dark bg-light">
                        Entregado
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Rut Poma, mesa 10
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Tequeño
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center align-items-center border-top border-dark bg-light">
                        Entregado
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Makki Aliaga, mesa 2
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Milanesa de pollo
                        </div>
                        <div class="col-md-12">
                            1 Leche de trige
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Segundo Meza, mesa 12
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            3 Chicharron de pescado
                        </div>
                        <div class="col-md-12">
                            1 Chaufa de pescado
                        </div>
                        <div class="col-md-12">
                            1 Leche de tigre
                        </div>
                        <div class="col-md-12">
                            2 Jarra de chicha
                        </div>
                        <div class="col-md-12">
                            2 Lomo saltado
                        </div>
                        <div class="col-md-12">
                            1 Chaufa de pollo
                        </div>
                        <div class="col-md-12">
                            1 Ceviche
                        </div>
                        <div class="col-md-12">
                            2 Jarra de Limonada
                        </div>
                        <div class="col-md-12">
                            1 Yuca Frita
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Makki Aliaga, mesa 2
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Milanesa de pollo
                        </div>
                        <div class="col-md-12">
                            1 Leche de trige
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Manuel Merino, mesa 1
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Pollo Saltado
                        </div>
                        <div class="col-md-12">
                            2 Papa Rellena
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center align-items-center border-top border-dark bg-light">
                        Entregado
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Rut Poma, mesa 10
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Tequeño
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center align-items-center border-top border-dark bg-light">
                        Entregado
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Makki Aliaga, mesa 2
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Milanesa de pollo
                        </div>
                        <div class="col-md-12">
                            1 Leche de trige
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Rut Poma, mesa 10
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Tequeño
                        </div>
                    </div>
                    <div
                        class="col-md-12 d-flex justify-content-center align-items-center border-top border-dark bg-light">
                        Entregado
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        Makki Aliaga, mesa 2
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Milanesa de pollo
                        </div>
                        <div class="col-md-12">
                            1 Leche de trige
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="caja-1 border border-2 border-dark rounded m-2 bg-white pedido">
                    <div class="caja-header d-flex align-items-center justify-content-center p-3 border-bottom border-dark">
                        <strong>Manuel Merino, mesa 1</strong>
                    </div>
                    <div class="caja-body row p-3">
                        <div class="col-md-12">
                            1 Pollo Saltado
                        </div>
                        <div class="col-md-12">
                            2 Papa Rellena
                        </div>
                        <div class="col-md-12 d-flex justify-content-center align-items-center p-3">
                            <button class="btn btn-success col-md-3">Listo</button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>